<span class="card-subtitle mb-2 text-muted">
    <i class="{% if rating > 0%}fa-solid text-warning{% else %}fa-regular{% endif %} fa-star"></i>
    <i class="{% if rating > 1%}fa-solid text-warning{% else %}fa-regular{% endif %} fa-star"></i>
    <i class="{% if rating > 2%}fa-solid text-warning{% else %}fa-regular{% endif %} fa-star"></i>
    <i class="{% if rating > 3%}fa-solid text-warning{% else %}fa-regular{% endif %} fa-star"></i>
    <i class="{% if rating > 4%}fa-solid text-warning{% else %}fa-regular{% endif %} fa-star"></i>
  </span>