<div class="container mt-4">
    <div class="row">
      {% if review %}
      <div class="col-sm-12 col-md-6">
          <div class="card text-dark m-3" style="cursor: pointer; background-color: #D0E6DD;" id="edit-review-review">
            <div class="card-body">
              <h5 class="card-title">Your review</h5>
              {% include 'review/rating.html' with rating=review.rating%}
              <p class="text-truncate">
                {{ review.text }}
              </p>
            </div>
          </div>
        </div>
      {% endif %}

      {% for review in reviews %}
        <div class="col-sm-12 col-md-6">
          <div class="card text-dark m-3" data-bs-toggle="modal" style="cursor: pointer;" data-bs-target="#ratingModal">
            <div class="card-body">
              <h5 class="card-title">Review by: {{review.user.name}}</h5>
              {% include 'review/rating.html' with rating=review.rating%}
              <p class="text-truncate">
                {{ review.text }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</div>


<!--modal-->
<div class="modal fade text-dark" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ratingModalLabel">Rating by {{ review.user.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
          Bacon ipsum dolor amet doner picanha tri-tip biltong leberkas salami meatball tongue filet mignon landjaeger tail. Kielbasa salami tenderloin picanha spare ribs, beef ribs strip steak jerky cow. Pork chop chicken ham hock beef ribs turkey jerky. Shoulder
          beef capicola doner, tongue tail sausage short ribs andouille. Rump frankfurter landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle.
          Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.Bacon ipsum dolor amet doner picanha tri-tip biltong leberkas salami meatball tongue filet mignon landjaeger tail. Kielbasa salami tenderloin picanha spare ribs, beef ribs strip steak jerky cow. Pork chop chicken ham hock beef ribs turkey jerky. Shoulder
          beef capicola doner, tongue tail sausage short ribs andouille. Rump frankfurter landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle.
          Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.Bacon ipsum dolor amet doner picanha tri-tip biltong leberkas salami meatball tongue filet mignon landjaeger tail. Kielbasa salami tenderloin picanha spare ribs, beef ribs strip steak jerky cow. Pork chop chicken ham hock beef ribs turkey jerky. Shoulder
          beef capicola doner, tongue tail sausage short ribs andouille. Rump frankfurter landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle.
          Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.Bacon ipsum dolor amet doner picanha tri-tip biltong leberkas salami meatball tongue filet mignon landjaeger tail. Kielbasa salami tenderloin picanha spare ribs, beef ribs strip steak jerky cow. Pork chop chicken ham hock beef ribs turkey jerky. Shoulder
          beef capicola doner, tongue tail sausage short ribs andouille. Rump frankfurter landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle.
          Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.Bacon ipsum dolor amet doner picanha tri-tip biltong leberkas salami meatball tongue filet mignon landjaeger tail. Kielbasa salami tenderloin picanha spare ribs, beef ribs strip steak jerky cow. Pork chop chicken ham hock beef ribs turkey jerky. Shoulder
          beef capicola doner, tongue tail sausage short ribs andouille. Rump frankfurter landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle.
          Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.
        </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% block inline_javascript %}
  <script>
    const user2 = "{{user}}"
    const review2 = "{{review}}"

    if (user2 && review2) {
      document.addEventListener('DOMContentLoaded', (e) => {
        modalForm(document.getElementById('edit-review-review'), {
          formURL: "{% url 'edit_review' movie_datab.id %}"
        })
      });
    }
  </script>
  {% endblock inline_javascript %}