{% extends "base.html" %}

{% block content %}

<h1>{{ person }}</h1>
<p style="margin-bottom: 0;">Most active years: {{ first_year }} - {{ last_year }}</p>

{% if movies_director1 %}
  {% include 'movie_list_collapsable.html' with title='Known for as director' list1=movies_director1 list2=movies_director2 collapse_id='collapse_director'%}
{% endif %}

{% if movies_actor1 %}
  {% include 'movie_list_collapsable.html' with title='Known for as actor/actress' list1=movies_actor1 list2=movies_actor2 collapse_id='collapse_actor'%}
{% endif %}

{% endblock content %}
