{% extends "base.html" %}
{% load static %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}

<h1>{{ user.name }}</h1>

<!--only for the user's own view-->
{% if user == me %}
<div class="float-end">
  <a class="btn btn-dark" href="{% url 'users:update' %}" role="button">Change username</a>
</div>
{% endif %}

{% if reviews1 %}
{% include 'movie_list_collapsable.html' with title='Reviews' list1=reviews1 list2=reviews2 collapse_id='collapse_reviews'%}
{% endif %}

{% if favorites1 %}
{% include 'movie_list_collapsable.html' with title='Favorites' list1=favorites1 list2=favorites2 collapse_id='collapse_favorites'%}
{% endif %}

{% if watchlist1 %}
{% include 'movie_list_collapsable.html' with title='Watchlist' list1=watchlist1 list2=watchlist2 collapse_id='collapse_watchlist'%}
{% endif %}

{% if watched1 %}
{% include 'movie_list_collapsable.html' with title='Watched' list1=watched1 list2=watched2 collapse_id='collapse_watched'%}
{% endif %}



{% endblock content %}
