<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.imdb.com/" role="button">
        <i class="fa-solid fa-film"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/mark%C3%A9ta-lap%C4%8D%C3%ADkov%C3%A1-685937231/" role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/chooseanother/SEP6-MSDB" role="button">
        <i class="fab fa-github"></i>
      </a>
    </section>

    <section>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Authors</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.linkedin.com/in/kim-tranberg/?originalSubdomain=dk" class="text-white">Kim Tranberg</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/mark%C3%A9ta-lap%C4%8D%C3%ADkov%C3%A1-685937231/" class="text-white">Markéta Lapčíková</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Movies</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.imdb.com/" class="text-white">iMDB</a>
            </li>
            <li>
              <a href="https://www.omdbapi.com/" class="text-white">OMDb API</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Technologies</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.python.org/" class="text-white">Python</a>
            </li>
            <li>
              <a href="https://www.djangoproject.com/" class="text-white">Django</a>
            </li>
            <li>
              <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>
            </li>
            <li>
              <a href="https://www.cookiecutter.io/templates" class="text-white">Cookiecutter</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright
  </div>
</footer>
