{% extends "base.html" %}
{% load static i18n compress%}

{% block content %}
<p class="mb-4">Search results for: {{ search_string }}</p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h2>Movies</h2>
      {% for movie in movies %}
        <a href="{% url 'movie' movie.id %}" class="search_link movie_search_link">
          <div style="display: flex; gap: 10px; height: 160px; margin-bottom: 1em;">
            {% if movie.poster_url %}
              <img src="{{ movie.poster_url }}" alt="{{movie.title}} poster" style="width:100px;height:150px;object-fit:cover;">
            {% else %}
              <img src="{% static 'images/document_missing.png' %}"  alt="{{movie.title}} poster" style="width:100px;height:150px;object-fit:contain;">
            {% endif %}
            <div>
              <h5>{{ movie.title }}</h5>
              <p style="margin-bottom: 3px;">{{ movie.year }}</p>
              <p>
                  {% for director in movie.director %}
                    {% if forloop.last %}
                      <span>{{ director }}</span>
                    {% else %}
                      <span>{{ director }}, </span>
                    {% endif %}
                  {% endfor %}
                </p>
            </div>

          </div>
        </a>
      {% empty %}
        <p>There are no movies matching your search. </p>
      {% endfor %}
    </div>
    <div class="col-sm-6 col-md-3">
      <h2>People</h2>
      {% for person in people %}
        <a href="{% url 'person' person.name %}" class="search_link">
          <div class="mb-4">
            <h5 style="margin-bottom: 0;">{{ person.name }}</h5>
            <p>{% if person.director %}Director{% endif %}{% if person.director and person.actor%}, {% endif %}{% if person.actor %}Actor/Actress{% endif %}</p>
          </div>
        </a>
      {% empty %}
        <p>There are no people matching your search. </p>
      {% endfor %}
    </div>
    <div class="col-sm-6 col-md-3">
      <h2>Users</h2>
      {% for user in users %}
        <a href="#" class="search_link">
          <div class="mb-4">
            <h5 style="margin-bottom: 0;">{{ user.name }}</h5>
            <p> {{ user.num_reviews }} reviews</p>
          </div>
        </a>
      {% empty %}
        <p>There are no users matching your search. </p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
