{% extends "base.html" %}
{% load static i18n compress%}

<style>
  a {
    text-decoration: none !important;
  }
</style>

{% block content %}
<div>
<h1>{{ movie_datab.title }}</h1>
<p>{{ movie_datab.year }}&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; {{ movie_api.rated}} &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;{{ movie_api.runtime }}</p>
<div class="container bg-dark text-white p-4">
  <div class="row">
    <div class="col-sm-3">
      {% if movie_datab.poster_url %}
        <img src="{{ movie_datab.poster_url }}" alt="{{movie_datab.title}} poster" width="100%">
      {% else %}
        <img src="{% static 'images/document_missing.png' %}"  alt="{{movie_datab.title}} poster missing" width="100%">
      {% endif %}
    </div>
    <div class="col-md-5 col-sm-9">
      <p>Director:
        {% for director in movie_datab.director %}
          <a href="{% url 'person' director %}" class="badge bg-light text-dark">{{ director }}</a>
        {% endfor %}
      </p>
      <p>Actors:
        {% for actor in movie_datab.actors %}
          <a href="{% url 'person' actor %}" class="badge bg-light text-dark">{{ actor }}</a>
        {% endfor %}
      </p>
      <p>Genre:
        {% for genre in movie_datab.genre %}
          {% if forloop.last %}
            <span>{{ genre }}</span>
          {% else %}
            <span>{{ genre }}, </span>
          {% endif %}
        {% endfor %}
      </p>
      <p>Released: {{ movie_api.released }}</p>
      <p>{{ movie_api.plot }}</p>
    </div>
    <!--only show those if user is logged in-->
    {% if user %}
      <div class="col-md-4 col-sm-12">
        <section style="float: right;">
          <a class="btn btn-outline-light btn-floating m-1 list-toggle-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% if is_favorites %}Remove from {% else %}Add to {% endif %}favorites" id="FA">
            <i class="fa-solid fa-heart" {% if is_favorites %} style="color: #208454;" {% endif %}></i>
          </a>
          <a class="btn btn-outline-light btn-floating m-1 list-toggle-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% if is_watched %}Remove from {% else %}Add to {% endif %}watched" id="WA">
            <i class="fa-solid fa-eye" {% if is_watched %} style="color: #208454;" {% endif %}></i>
          </a>
          <a class="btn btn-outline-light btn-floating m-1 list-toggle-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% if is_watchlist %}Remove from {% else %}Add to {% endif %}watchlist" id="LI">
            <i class="fa-solid fa-ticket" {% if is_watchlist %} style="color: #208454;" {% endif %}></i>
          </a>
        </section>
      </div>
    {% endif %}
  </div>
</div>

<h3 class="mt-5">Ratings</h3>
<div class="container bg-dark text-white p-4">
  <div class="d-flex justify-content-between">
    <div>
      <p class="d-inline ps-4" data-bs-toggle="tooltip" data-bs-placement="top" title="MSDB rating">
        {% if movie_datab.rating %}
          <span style="font-size: 2em;">
            <i class="fa-solid text-warning fa-star"></i>
            {{ movie_datab.rating|floatformat }}
          </span>
          Based on {{ movie_datab.review_count }} rating{% if movie_datab.review_count > 1 %}s{%endif%}
          {% else %}Not yet rated by MSDB users{% endif %}
      </p>
    </div>
    {% if user %}
      <div class="pe-4">
        {% if user and not review%}
          <button id="add-review" class="btn btn-outline-light">Add review</button>
        {% endif %}
        {% if user and review %}
        <button id="edit-review" class="btn btn-outline-light">Edit review</button>
        {% endif %}
      </div>
    {% else %}
      <a href="{% url 'account_login' %}"class="btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Sign In to be able to add reviews">Add review</a>
    {% endif %}
  </div>
  {% include 'collapsable_lists/review_list_collapsable.html' with reviews=reviews review=review loop1=loop1 loop2=loop2%}
</div>

{% if movie_datab.review_count > 0 %}
  <h3 class="mt-5">Statistics</h3>
  <p>Note: black bar indicated the position of the current movie</p>
  <div id="loading">
    <div class="spinner-border m-5" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="container p-4">
    <div class="row">
      <h5 style="display: none;" id="sub_heading1">Ratings overview</h5>
      <div class="col-sm-12 col-md-6">
        <canvas id="rating_star_amount"></canvas>
      </div>
      <div class="col-sm-12 col-md-6">
        <canvas id="all_movie_ratings_count"></canvas>
      </div>
      <div class="col-sm-12 col-md-6">
        <canvas id="ratings_over_time"></canvas>
      </div>
      <div class="col-sm-12 col-md-6">
        <canvas id="ratings_over_time_cumulative"></canvas>
      </div>
    </div>
  </div>
{% endif %}

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div id="snackbar">Message</div>
<div id="snackbar_error">Message</div>

{% endblock content %}

{% block inline_javascript %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--charts-->
<script>
  function graph(chart_element, type, labels, label, data, textX, textY) {
    new Chart(chart_element, {
        type: type,
        data: {
          labels : labels,
            datasets: [{
              label: label,
              data : data,
              backgroundColor: 'rgb(254, 218, 107)',
              borderColor: 'rgb(255, 193, 7)',
              borderWidth: 1
            }]
        },
        options: {
          elements: {
                point:{
                    radius: 0
                }
            },
            scales: {
               x: {
                  title: {
                    display: true,
                    text: textX
                  }
               },
               y: {
                  beginAtZero: true,
                  ticks: {
                    precision: 0
                  },
                  title: {
                     display: true,
                     text: textY
                  }
               }
            }
        }
    });
  }

  function graph_compare_to_others(chart_element, labels, label, data, textX, textY, highlight_position) {
    new Chart(chart_element, {
        data: {
          labels : labels,
          datasets: [{
            type: 'bar',
            label: label,
            data: data,
            backgroundColor: color => {
              let colors = color.index === highlight_position ? 'rgb(33, 37, 41)' : 'rgb(254, 218, 107)';
              return colors;
            } ,
            borderColor: 'rgb(255, 193, 7)'
          }]
        },
        options: {
            elements: {
                point:{
                    radius: 0
                }
            },
            scales: {
               x: {
                  title: {
                    display: true,
                    text: textX
                  }
               },
               y: {
                  beginAtZero: true,
                  ticks: {
                    precision: 0
                  },
                  title: {
                     display: true,
                     text: textY
                  }
               }
            }
        }
    });
  }

  $(document).ready(function (){
    $("#loading").show();
    $.ajax({
      type: "GET",
      url: "{% url 'movie_stats' movie_datab.id %}",
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (response){
        rating_star_amount_list = response.rating_star_amount;
        if(Object.keys(rating_star_amount_list).length !== 0) {
          const rating_star_amount_labels = [];
          const rating_star_amount_data = [];
          for (let rating in rating_star_amount_list) {
            rating_star_amount_labels.push(rating);
            rating_star_amount_data.push(rating_star_amount_list[rating]);
          }
          const rating_star_amount = document.getElementById('rating_star_amount').getContext('2d');
          graph(rating_star_amount, 'bar', rating_star_amount_labels, "Number of ratings per stars", rating_star_amount_data, "Stars", "Number of ratings");
          $("#sub_heading1").show();

          all_movie_ratings_count_list = response.all_movie_ratings_count;
          const all_movie_ratings_count_labels = [];
          const all_movie_ratings_count_data = [];
          const this_movie_ratings_data = [];
          let index = 0;
          let movie_rating_position = 0;
          const movie_rating = "{{ movie_datab.rating|floatformat:1 }}";
          for (let rating in all_movie_ratings_count_list) {
            all_movie_ratings_count_labels.push(rating);
            all_movie_ratings_count_data.push(all_movie_ratings_count_list[rating]);
            if (rating === movie_rating) {
              movie_rating_position = index;
            }
            index++;
          }
          const all_movie_ratings_count = document.getElementById('all_movie_ratings_count').getContext('2d');
          graph_compare_to_others(all_movie_ratings_count, all_movie_ratings_count_labels, "All movie rating", all_movie_ratings_count_data, "Stars", "Number of ratings", movie_rating_position);

          ratings_over_time_list = response.ratings_over_time;
          const ratings_over_time_labels = [];
          const ratings_over_time_data = [];
          for (let rating in ratings_over_time_list) {
            ratings_over_time_labels.push(rating);
            ratings_over_time_data.push(ratings_over_time_list[rating]);
          }
          const ratings_over_time = document.getElementById('ratings_over_time').getContext('2d');
          graph(ratings_over_time, 'line', ratings_over_time_labels, "Amount of ratings per day", ratings_over_time_data, "Day", "Number of ratings");

          ratings_over_time_cumulative_list = response.ratings_over_time_cumulative;
          const ratings_over_time_cumulative_labels = [];
          const ratings_over_time_cumulative_data = [];
          for (let rating in ratings_over_time_cumulative_list) {
            ratings_over_time_cumulative_labels.push(rating);
            ratings_over_time_cumulative_data.push(ratings_over_time_cumulative_list[rating]);
          }
          const ratings_over_time_cumulative = document.getElementById('ratings_over_time_cumulative').getContext('2d');
          graph(ratings_over_time_cumulative, 'line', ratings_over_time_cumulative_labels, "Cumulative amount of ratings over days", ratings_over_time_cumulative_data, "Day", "Number of ratings");
        }
      },
      error: function (response) {

      },
      complete: function (response) {
        $("#loading").hide();
      }
    })
  });
</script>

<script>
  $('.list-toggle-button').bind('click', function (e){
    e.preventDefault();
    const list_type = $(this).attr('id');
    const target = $(this)
    $.ajax({
      type: "POST",
      url: "{% url 'toggle_list' %}",
      data: {
        user_id: "{{ user.id }}",
        movie_id: "{{ movie_datab.id }}",
        list_type: list_type,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },

      success: function (response) {
        /*show and disappear snackbar*/
        var snackbar = document.getElementById("snackbar");
        snackbar.innerHTML = response.message;
        snackbar.className = "show";
        setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 3000);

        console.log("success")
        // action is either "add" or "remove"
        const response_action = response.action
        if(response_action === "add"){
          /*by all of them, update tooltip and change color to green*/
          /*by watchlist/watched - changing the other one to neutral color and changing the tooltip*/
          switch(list_type){
            case 'FA':
              target.attr('title', 'Remove from favorites');
              break;
            case 'LI':
              target.attr('title', 'Remove from watchlist');
              $("#WA").children().first().css("color","");
              $("#WA").attr('title', 'Add to watched');
              break;
            case 'WA':
              target.attr('title', 'Remove from watched');
              $("#LI").children().first().css("color","");
              $("#LI").attr('title', 'Add to watchlist');
              break;
          }
          target.children().first().css("color","#208454");
        }
        else if(response_action === "remove"){
          /*by all, update the color back to normal and update tooltip*/
          switch(list_type){
            case 'FA':
              target.attr('title', 'Add to favorites');
              break;
            case 'LI':
              target.attr('title', 'Add to watchlist');
              break;
            case 'WA':
              target.attr('title', 'Add to watched');
              break;
          }
          target.children().first().css("color","");
        }
      },
      error: function (response) {
        console.log("error")
        var snackbar = document.getElementById("snackbar_error");
        snackbar.innerHTML = "Unable to add to/remove from the list. ";
        snackbar.className = "show";
        setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 3000);
      }
    })
  });

  const user = "{{user}}"
  const review = "{{review}}"

  if (user != "None" && review == "None") {
    document.addEventListener('DOMContentLoaded', (e1) => {
      modalForm(document.getElementById('add-review'), {
        formURL: "{% url 'add_review' movie_datab.id %}"
      })
    });
  }
  if (user != "None" && review != "None") {
    document.addEventListener('DOMContentLoaded', (e2) => {
      modalForm(document.getElementById('edit-review'), {
        formURL: "{% url 'edit_review' movie_datab.id %}"
      })
    });
  }
</script>
{% endblock inline_javascript %}
