{% extends "base.html" %}

{% block content %}


<h2>Hot stuff</h2>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for movie in hot_stuff %}
      {% if forloop.first %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      {% else %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide {{ forloop.counter }}"></button>
      {% endif %}
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for movie in hot_stuff %}
      {% if forloop.first %}
        <div class="carousel-item active">
      {% else %}
        <div class="carousel-item">
      {% endif %}
      <div class="container">
        <div class="row bg-dark text-white py-4">
          <div class="col-2" style="margin-left: 15%;">
            <img class="d-block" src="{{ movie.poster_url }}" alt="{{ movie.title }} poster" style="width: 100%; height: 300px; object-fit: contain">
          </div>
          <div class="col-6 d-flex align-items-center" style="margin-right: 15%;">
            <div class="d-block">
              <h3>{{ movie.title }}</h3>
              <p>
                Director:
                {% for director in movie.director %}
                  {% if forloop.last %}
                    <span>{{ director }}</span>
                  {% else %}
                    <span>{{ director }}, </span>
                  {% endif %}
                {% endfor %}
              </p>
              <p>
                Actors:
                {% for actor in movie.actors %}
                {% if forloop.last %}
                    <span>{{ actor }}</span>
                  {% else %}
                    <span>{{ actor }}, </span>
                  {% endif %}
                {% endfor %}
              </p>
              <p>
                Genres:
                {% for genre in movie.genre %}
                {% if forloop.last %}
                    <span>{{ genre }}</span>
                  {% else %}
                    <span>{{ genre }}, </span>
                  {% endif %}
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>

<h2 class="mt-5">Top 10</h2>
<div class="bg-dark text-white d-flex flex-wrap justify-content-center">
  {% for i in 'kiygfddddl'|make_list %}
    <div style="width:200px; margin: 1em;">
      <p class="m-0">The American Pie 2</p>
      <p class="m-0">year</p>
    </div>
  {% endfor %}
</div>

{% endblock content %}
