{% extends "base.html" %}

<style>
  a {
    text-decoration: none !important;
  }
</style>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% block content %}
<h1>{{ movie_datab.title }}</h1>
<p>{{ movie_datab.year }}&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; {{ movie_api.rated}} &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;{{ movie_api.runtime }}</p>
<div class="container bg-dark text-white p-4">
  <div class="row">
    <div class="col-sm-3">
      <img src="{{movie_datab.poster_url}}" alt="{{movie_datab.title}} poster" width="100%"/>
    </div>
    <div class="col-md-5 col-sm-9">
      <p>Genre:
        {% for genre in movie_datab.genre %}
          <a href="#" class="badge bg-light text-dark">{{ genre }}</a>
        {% endfor %}
      </p>
      <p>Director:
        {% for director in movie_datab.director %}
          <a href="{% url 'person' director %}" class="badge bg-light text-dark">{{ director }}</a>
        {% endfor %}
      </p>
      <p>Actors:
        {% for actor in movie_datab.actors %}
          <a href="{% url 'person' actor %}" class="badge bg-light text-dark">{{ actor }}</a>
        {% endfor %}
      </p>
      <p>Released: {{ movie_api.released }}</p>
      <p>{{ movie_api.plot }}</p>
    </div>
    <!--only show those if user is logged in-->
    {% if user %}
      <div class="col-md-4 col-sm-12">
        <section style="float: right;">
          <a class="btn btn-outline-light btn-floating m-1 list-toggle-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% if is_favorites %}Remove from {% else %}Add to {% endif %}favorites" id="FA">
            <i class="fa-solid fa-heart" {% if is_favorites %} style="color: #208454;" {% endif %}></i>
          </a>
          <a class="btn btn-outline-light btn-floating m-1 list-toggle-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% if is_watched %}Remove from {% else %}Add to {% endif %}watched" id="WA">
            <i class="fa-solid fa-eye" {% if is_watched %} style="color: #208454;" {% endif %}></i>
          </a>
          <a class="btn btn-outline-light btn-floating m-1 list-toggle-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% if is_watchlist %}Remove from {% else %}Add to {% endif %}watchlist" id="LI">
            <i class="fa-solid fa-ticket" {% if is_watchlist %} style="color: #208454;" {% endif %}></i>
          </a>
        </section>
      </div>
    {% endif %}
  </div>
</div>

<h2 class="mt-5">Ratings</h2>
<div class="container bg-dark text-white p-4">
  <div>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-regular fa-star"></i>
    <p class="d-inline ps-4">128 ratings</p>
  </div>

  <div class="container mt-4">
    <div class="row">
      {% for i in '0123456789'|make_list %}
        <div class="col-sm-12 col-md-6">
          <div class="card text-dark m-3" data-bs-toggle="modal" style="cursor: pointer;" data-bs-target="#ratingModal">
            <div class="card-body">
              <h5 class="card-title">Username</h5>
              <span class="card-subtitle mb-2 text-muted">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
              </span>
              <p class="text-truncate">
                Bacon ipsum dolor amet doner picanha tri-tip biltong leberkas salami meatball tongue filet mignon landjaeger tail. Kielbasa salami tenderloin picanha spare ribs, beef ribs strip steak jerky cow. Pork chop chicken ham hock beef ribs turkey jerky. Shoulder
                beef capicola doner, tongue tail sausage short ribs andouille. Rump frankfurter landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle.
                Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!--modal-->
<div class="modal fade text-dark" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ratingModalLabel">Rating by {{ username }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        Bacon ipsum dolor amet doner picanha tri-tip biltong leberkas salami meatball tongue filet mignon landjaeger tail. Kielbasa salami tenderloin picanha spare ribs, beef ribs strip steak jerky cow. Pork chop chicken ham hock beef ribs turkey jerky. Shoulder
        beef capicola doner, tongue tail sausage short ribs andouille. Rump frankfurter landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle.
        Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.Bacon ipsum dolor amet doner picanha tri-tip biltong leberkas salami meatball tongue filet mignon landjaeger tail. Kielbasa salami tenderloin picanha spare ribs, beef ribs strip steak jerky cow. Pork chop chicken ham hock beef ribs turkey jerky. Shoulder
        beef capicola doner, tongue tail sausage short ribs andouille. Rump frankfurter landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle.
        Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.Bacon ipsum dolor amet doner picanha tri-tip biltong leberkas salami meatball tongue filet mignon landjaeger tail. Kielbasa salami tenderloin picanha spare ribs, beef ribs strip steak jerky cow. Pork chop chicken ham hock beef ribs turkey jerky. Shoulder
        beef capicola doner, tongue tail sausage short ribs andouille. Rump frankfurter landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle.
        Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.Bacon ipsum dolor amet doner picanha tri-tip biltong leberkas salami meatball tongue filet mignon landjaeger tail. Kielbasa salami tenderloin picanha spare ribs, beef ribs strip steak jerky cow. Pork chop chicken ham hock beef ribs turkey jerky. Shoulder
        beef capicola doner, tongue tail sausage short ribs andouille. Rump frankfurter landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle.
        Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.Bacon ipsum dolor amet doner picanha tri-tip biltong leberkas salami meatball tongue filet mignon landjaeger tail. Kielbasa salami tenderloin picanha spare ribs, beef ribs strip steak jerky cow. Pork chop chicken ham hock beef ribs turkey jerky. Shoulder
        beef capicola doner, tongue tail sausage short ribs andouille. Rump frankfurter landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle.
        Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="snackbar">Message</div>
<div id="snackbar_error">Message</div>

{% endblock content %}

{% block inline_javascript %}
<script>
    // getCookie Provided by Django in the Official Docs
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

  $('.list-toggle-button').bind('click', function (e){
    e.preventDefault();
    const list_type = $(this).attr('id');
    const target = $(this)
    $.ajax({
      type: "POST",
      url: "{% url 'toggle_list' %}",
      data: {
        user_id: "{{ user.id }}",
        movie_id: "{{ movie_datab.id }}",
        list_type: list_type,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },

      success: function (response) {
        /*show and disappear snackbar*/
        var snackbar = document.getElementById("snackbar");
        snackbar.innerHTML = response.message;
        snackbar.className = "show";
        setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 3000);

        console.log("success")
        console.log(target)
        // action is either "add" or "remove"
        const response_action = response.action
        if(response_action === "add"){
          switch(list_type){
            case 'FA':
              target.attr('title', 'Remove from favorites');
              break;
            case 'LI':
              break;
            case 'WA':

          }
          target.children().first().css("color","#208454");
        }
        else if(response_action === "remove"){
          switch(list_type){
            case 'FA':
              target.attr('title', 'Add to favorites');
              break;
            case 'LI':
              break;
            case 'WA':

          }
          target.children().first().css("color","");
        }

      },
      error: function (response) {
        console.log("error")
        var snackbar = document.getElementById("snackbar_error");
        snackbar.innerHTML = "Unable to add to/remove from the list. ";
        snackbar.className = "show";
        setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 3000);
      }
    })
  });
</script>
{% endblock inline_javascript %}
